 @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
/*ACESSO JOVEM*/
body{
    font-family: 'Asap Condensed', sans-serif;
}

.area-jovem{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 100px 0;
}

.area-jovem h2{
    font-family: 'Asap Condensed', sans-serif;
    margin-bottom: 40px;
 font-size: 45px !important;
 background-image: linear-gradient(to bottom, #0F506D,#2A6E90, #006D9D);
 background-clip: text;
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent;
 color: black;
 font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}

.container-acesso-jovem{
    display: flex;
    flex-direction:row;
    gap:26px;
}


.consientizacao-titulo {
    font-size: 30px;
    margin-top: 50px;
    padding: 0 2%;
}

.card a:hover {
    text-decoration: underline;
    color: #fff;
}

.card h3 {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 23px ;
  background-image: linear-gradient(to bottom, #3292bb,#ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 3rem;
   font-weight: bold;
   line-height: 1.1;
}

figcaption {
    background:#006D9D;
    background-image: linear-gradient(to right, #016FA7, var(--color1));
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

.card-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;

}

.image-zoom {
    overflow: hidden;
    width: 300px;
    height: 250px;
}


.card img:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.card a {
    color: var(--text1);
}

@media screen and (max-width: 850px) {
    .container-acesso-jovem{
        flex-direction: column;
    }
    .container-acesso-jovem{
        gap: 50px;
    }
}

