*{
    padding: 0;
    margin: 0;
} 
 @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
/*ACESSO JOVEM*/
body{
    font-family: 'Asap Condensed', sans-serif !important;
}

.area-jovem{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:100px;
}

.area-jovem h2{
    font-family: 'Asap Condensed', sans-serif;
    margin-bottom: 40px;
 font-size: 45px !important;
 background-image: linear-gradient(to bottom, #0F506D,#2A6E90, #006D9D);
 background-clip: text;
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent;
 color: black;
 font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}

.container-acesso-jovem{
    display: flex;
    flex-direction:row;
    gap:30px;
}

#tit{
    font-weight: 500;
    color: #00e5e9;
}

.escondido{
      text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        color: transparent;
        display: block;
        position: absolute;
       }



#mais{
    background:linear-gradient(to right, #36d0ff 5%, #53fcff 10%, #16e7eb 50%, #00fbff 90%) ;
background-size: 200% auto;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: animate2 1.5s linear infinite;
}
@keyframes animate2{
    to{
        background-position:200%;
        
    }
    }
    
    

.consientizacao-titulo {
    font-size: 30px;
    margin-top: 50px;
    padding: 0 2%;
}

.card a:hover {
    text-decoration: underline;
    color: #fff;
}

.card h3 {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 23px ;
  background-image: linear-gradient(to bottom, #3292bb,#ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 3rem;
   font-weight: bold;
   line-height: 1.1;
}

figcaption {
    background:#006D9D;
    background-image: linear-gradient(to right, #016FA7, var(--color1));
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

.card-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;

}

.image-zoom {
    overflow: hidden;
    width: 300px;
    height: 250px;
}


.card img:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.card a {
    color: var(--text1);
}

/*ESG CONTENT - PAGE PRINCIPAL*/

.esg-section{
height: 80vh;
background-color: #cdfff8;
}


.esg-section h2{
    font-family: 'Asap Condensed', sans-serif;
    margin-bottom: 40px;
 font-size: 45px !important;
 background-image: linear-gradient(to bottom, #025008,#0a665a, #03853d);
 background-clip: text;
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent;
 color: black;
 font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: left;
}

.esg-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
gap:2rem;

}

.texto-tit-btn-esg{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap:0.2rem;
    padding: 20px;
}

.texto-tit-btn-esg p{
  text-align: left;
  font-size: 24px;

}

.esg-cnt img{
    max-width: 500px;
    padding: 3.5rem; /*no responsivo colocar 60px de padding*/
    height: 500px;
    object-fit: cover;

}


@media screen and (max-width: 850px) {
    .container-acesso-jovem{
        flex-direction: column;
    }
    .container-acesso-jovem{
        gap: 50px;
    }
}

